%header.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
  %nav.container.flex-md-nowrap
    %a.navbar-brand{ href: root_path }
      Happy Gantt
    %button.navbar-toggler{ type: 'button',
                            data: { 'bs-toggle' => 'collapse', 'bs-target' => '#navbar-nav' },
                            aria: { controls: 'navbar-nav', expanded: false, label: 'Toggle navigation' }
                          }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar-nav
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          %a.nav-link.active{ 'area-current' => 'page', href: root_path }
            Home
        - if user_signed_in?
          = render 'layouts/navbar_missions'
          = render 'layouts/navbar_projects'
          = render 'layouts/navbar_gantts'
      = render 'layouts/user_session'
