.d-flex
  - if user_signed_in?
    = button_to t('devise.sessions.destroy.sign_out'), destroy_user_session_path, class: 'btn btn-outline-light', method: :delete
  - else
    = button_to t('devise.sessions.new.sign_in'), new_user_session_path, class: 'btn btn-outline-light', method: :get
    = button_to t('devise.registrations.new.sign_up'), new_user_registration_path, class: 'btn btn-success', method: :get
